.carousel-item {
  max-height: 500px;
}

.carousel-img {
  max-height: 500px;
  overflow: hidden;
  object-fit: cover;
}

.carousel-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 8px;
  height: 100%;
  display: inline-block;
  background: linear-gradient(to right, #151515 0%, rgba(21, 21, 21, 0.3) 100%);
}
